# **Data Exploration**

In dieser Lektion geht es darum, das Handwerk der Data Exploration besser zu beherrschen.

Nicht alle Fragen, die an die Tabelle gestellt werden, sind unbedingt interessant - es geht eher darum, ein Gefühl dafür zu entwickeln, wie man mithilfe von Spaltenmanipulationen und Aggregationen solche Fragen beantwortet. Experimentiere gerne herum und google nach Befehlen, wenn du nicht weiter weißt. Es gibt eine Reihe von Methoden für DataFrames, die nicht in unserem Tutorial abgedeckt wurden - nachschlagen gehört dazu. Mach dir keinen Stress mit den Aufgaben - das Verständnis ist am Ende wichtiger, als dass alle Aufgaben fertig sind.

Du hast einen bereinigten Datensatz vor dir.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
path_orders = "../data_sets/merch_sales_orders.csv"
path_products = "../data_sets/merch_sales_products.csv"

In [2]:
df_orders = pd.read_csv(path_orders)
df_products = pd.read_csv(path_products)

In [3]:
display(df_orders)

,Order ID,Order Date,Product ID,Product Category,Buyer Gender,Buyer Age,Order Location,International Shipping,Sales Price,Shipping Charges,Sales per Unit,Quantity,Total Sales,Rating,Review
0,189440,2024-07-21,BF1543,Clothing,Male,30,New Jersey,No,100,0,100,1,100,4,The delivery team handled the product with care.
1,187385,2024-07-20,BF1543,Clothing,Male,32,Las Vegas,No,100,0,100,1,100,3,Had slight delays but the product was in good ...
2,181844,2024-07-21,BF1544,Other,Female,26,Cardiff,Yes,9,40,49,1,49,2,Waste of Money.
3,197934,2024-08-19,BF1544,Other,Male,28,Pittsburgh,No,9,0,9,2,18,3,Had slight delays but the product was in good ...
4,122470,2024-01-06,BF1545,Other,Female,19,Miami,No,10,0,10,3,30,5,Lack of delivery delays is greatly appreciated.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7389,136943,2023-12-10,BF1548,Clothing,Male,23,Las Vegas,No,65,0,65,1,65,4,The product was affordable here compared to ot...
7390,172276,2024-01-24,BF1546,Clothing,Female,26,Manchester,Yes,118,40,158,1,158,4,Exquisite craftsmanship here is absolutely app...
7391,160191,2023-12-19,BF1552,Ornaments,Male,19,Miami,No,45,0,45,1,45,2,Waste of Money.
7392,195268,2023-12-07,BF1555,Other,Male,34,Miami,No,23,0,23,1,23,5,The product was affordable here compared to ot...
7393,138160,2024-10-23,BF1544,Other,Female,28,Cleveland,No,9,0,9,1,9,1,Careless handling by the delivery team.

In [4]:
display(df_products)

   Product ID Product Name Manufacturer Country        Brand   Material
0      BF1543   Sweatshirt           Bangladesh         Mike     Cotton
1      BF1544        Boots                China      Aldidas    Leather
2      BF1545      Sneaker                Italy  Limbertands    Leather
3      BF1546        Jeans           Bangladesh      Aldidas      Denim
4      BF1547         Ring                Italy       Vossil     Silver
5      BF1548      T-Shirt                China         Mike     Cotton
6      BF1549       Shorts               Brazil   Over Armor  Polyester
7      BF1550       Jacket                Italy         Mike  Polyester
8      BF1551     Bracelet               Sweden       Carter      Steel
9      BF1552        Chain               Sweden       Vossil      Brass
10     BF1553    Ear Rings                Italy       Carter     Silver
11     BF1554    Nose Ring              Germany       Carter      Steel
12     BF1555     Base Cap                China   Over Armor     Cotton

## **Aufgabe 1:** Wieviele verschiedene Produkte gibt es?

## **Aufgabe 2:** Gib einen Überblick über die einzelnen Produkte und deren Kategorien.

## **Aufgabe 3:** Welcher Zeitraum wird durch den Datensatz abgedeckt?

## **Aufgabe 4:** Wieviele Bestellungen erfolgten durch International Shipping?

## **Aufgabe 5:** Gib eine Übersicht, wieviele Produkte jede Kategorie hat.

## **Aufgabe 6:** Welche Bestellung hat den meisten Umsatz gebracht?

## **Aufgabe 7:** Zeig den Umsatz pro Stadt für August 2024.

## **Aufgabe 8:** Wie hoch sind die Shipping Sales im Durchschnitt?

## **Aufgabe 9:** Mit welcher Marke wurde der meisten Umsatz gemacht? Vergleiche die Umsätze der Marken in einem Diagramm.

## **Aufgabe 10:** Stelle den Verlauf der Anzahl der Bestellungen vom 1.8.24 bis 30.9.24 graphisch dar.

## **Aufgabe 11:** Berechne den durchschnittlichen Umsatz für jeden Wochentag und vergleiche in einem Diagramm.

## **Aufgabe 12:** An insgesamt wievielen Tagen wurden keine Sweatshirts bestellt?